const char pin[] = "{{ pin }}";
const char token_mqtt[] = "{{ token_mqtt }}";
const char user_name[] = "{{ user_name }}";
const char device_name[] = "{{ device_name }}";
const char client_id[] = "{{ client_id }}";
const char countMessageReceivedTopic[] = "{{ countMessageReceivedTopic }}";
const char ackMessageReceivedTopic[] = "{{ ackMessageReceivedTopic }}";
const char broker[] = "{{ broker }}";
int broker_port = {{ broker_port }};
int packetSize = {{ packetSize }};
int packetPerSeconds = {{ packetPerSeconds }};
int everyMillis = {{ everyMillis }};
unsigned int baud_rate = {{ baud_rate }};
int MonitoringCampagnDuration = {{ MonitoringCampagnDuration }};
const char RAT[] = "{{ RAT }}";
const char PTW[] = "{{ PTW }}";
const char EDRX[] = "{{ EDRX }}";
int PSM_VERSION = {{ PSM_VERSION }};
bool isDRXactivated = {{ isDRXactivated }};
